* {  /* actual colors used by syntect */
    color: rgb(116, 115, 105);  /* -> gray       */
    color: rgb(45, 45, 45);     /* -> dark       */
    color: rgb(211, 208, 200);  /* -> white      */
    color: rgb(242, 119, 122);  /* -> red        */
    color: rgb(153, 204, 153);  /* -> green      */
    color: rgb(102, 153, 204);  /* -> aqua       */
    color: rgb(102, 204, 204);  /* -> emerald    */
    color: rgb(204, 153, 204);  /* -> violet     */
    color: rgb(210, 123, 83);   /* -> pink       */
    color: rgb(249, 145, 87);   /* -> gold       */
    color: rgb(255, 204, 102);  /* -> grassgreen */

    /* original color palette of the theme */
    color: #2D2D2D;
    color: #393939;
    color: #515151;
    color: #747369;
    color: #A09F93;
    color: #D3D0C8;
    color: #E8E6DF;
    color: #F2F0EC;
    color: #FFCC66;
    color: #F99157;
    color: #F2777A;
    color: #D27B53;
    color: #CC99CC;
    color: #6699CC;
    color: #66CCCC;
    color: #99CC99;
}

** {  /* mdex's palette */
    color: rgb(0, 0, 0);        /* black       */
    color: rgb(64, 64, 64);     /* dark        */
    color: rgb(128, 128, 128);  /* gray        */
    color: rgb(192, 192, 192);  /* lightgray        */
    color: rgb(255, 255, 255);  /* white       */
    color: rgb(192, 64, 64);    /* red         */
    color: rgb(64, 192, 64);    /* green       */
    color: rgb(64, 64, 192);    /* blue        */
    color: rgb(64, 192, 255);   /* aqua        */
    color: rgb(64, 255, 192);   /* emerald     */
    color: rgb(192, 64, 255);   /* violet      */
    color: rgb(255, 64, 192);   /* pink        */
    color: rgb(192, 255, 64);   /* grassgreen  */
    color: rgb(255, 192, 64);   /* gold        */
}