@media screen and (orientation: landscape) {
  html {
    font-size: 21px;
  }
}
body .markdown {
  background-color: #404040;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 1px;
}
body .markdown ::selection {
  background-color: #bfbfbf;
  color: #000000;
}
body .markdown hr.footnote-hr {
  margin-top: 2.857rem;
}
body .markdown img {
  max-width: 21.43rem;
  max-height: 21.43rem;
}

/* Blockquote */
.markdown blockquote {
  background-color: #00000080;
  width: 75%;
  border-left: 0.238rem solid #808080;
  padding: 0.571rem;
}

/* Colors */
.markdown .color-black {
  color: #000000;
}
.markdown .color-black::selection {
  color: #ffffff;
}
.markdown .highlight-black {
  background-color: #000000;
}
.markdown .highlight-black::selection {
  background-color: #ffffff;
}
.markdown .color-dark {
  color: #404040;
}
.markdown .color-dark::selection {
  color: #bfbfbf;
}
.markdown .highlight-dark {
  background-color: #404040;
}
.markdown .highlight-dark::selection {
  background-color: #bfbfbf;
}
.markdown .color-gray {
  color: #808080;
}
.markdown .color-gray::selection {
  color: #7f7f7f;
}
.markdown .highlight-gray {
  background-color: #808080;
}
.markdown .highlight-gray::selection {
  background-color: #7f7f7f;
}
.markdown .color-lightgray {
  color: #c0c0c0;
}
.markdown .color-lightgray::selection {
  color: #3f3f3f;
}
.markdown .highlight-lightgray {
  background-color: #c0c0c0;
}
.markdown .highlight-lightgray::selection {
  background-color: #3f3f3f;
}
.markdown .color-white {
  color: #ffffff;
}
.markdown .color-white::selection {
  color: #000000;
}
.markdown .highlight-white {
  background-color: #ffffff;
}
.markdown .highlight-white::selection {
  background-color: #000000;
}
.markdown .color-red {
  color: #c04040;
}
.markdown .color-red::selection {
  color: #3fbfbf;
}
.markdown .highlight-red {
  background-color: #c04040;
}
.markdown .highlight-red::selection {
  background-color: #3fbfbf;
}
.markdown .color-green {
  color: #40c040;
}
.markdown .color-green::selection {
  color: #bf3fbf;
}
.markdown .highlight-green {
  background-color: #40c040;
}
.markdown .highlight-green::selection {
  background-color: #bf3fbf;
}
.markdown .color-blue {
  color: #4040c0;
}
.markdown .color-blue::selection {
  color: #bfbf3f;
}
.markdown .highlight-blue {
  background-color: #4040c0;
}
.markdown .highlight-blue::selection {
  background-color: #bfbf3f;
}
.markdown .color-aqua {
  color: #40c0ff;
}
.markdown .color-aqua::selection {
  color: #bf3f00;
}
.markdown .highlight-aqua {
  background-color: #40c0ff;
}
.markdown .highlight-aqua::selection {
  background-color: #bf3f00;
}
.markdown .color-emerald {
  color: #40ffc0;
}
.markdown .color-emerald::selection {
  color: #bf003f;
}
.markdown .highlight-emerald {
  background-color: #40ffc0;
}
.markdown .highlight-emerald::selection {
  background-color: #bf003f;
}
.markdown .color-violet {
  color: #c040ff;
}
.markdown .color-violet::selection {
  color: #3fbf00;
}
.markdown .highlight-violet {
  background-color: #c040ff;
}
.markdown .highlight-violet::selection {
  background-color: #3fbf00;
}
.markdown .color-pink {
  color: #ff40c0;
}
.markdown .color-pink::selection {
  color: #00bf3f;
}
.markdown .highlight-pink {
  background-color: #ff40c0;
}
.markdown .highlight-pink::selection {
  background-color: #00bf3f;
}
.markdown .color-grassgreen {
  color: #c0ff40;
}
.markdown .color-grassgreen::selection {
  color: #3f00bf;
}
.markdown .highlight-grassgreen {
  background-color: #c0ff40;
}
.markdown .highlight-grassgreen::selection {
  background-color: #3f00bf;
}
.markdown .color-gold {
  color: #ffc040;
}
.markdown .color-gold::selection {
  color: #003fbf;
}
.markdown .highlight-gold {
  background-color: #ffc040;
}
.markdown .highlight-gold::selection {
  background-color: #003fbf;
}

/* Box */
.markdown div.box {
  width: 80%;
  padding: 0.571rem;
  margin: 0.571rem;
  border: 0.143rem solid #808080;
}
.markdown div.box.no-border {
  border: none;
}

/* Sizes */
.markdown .size-tiny {
  font-size: 0.619rem;
}
.markdown .size-tiny img {
  max-width: 11.9rem;
  max-height: 11.9rem;
}
.markdown .size-small {
  font-size: 0.762rem;
}
.markdown .size-small img {
  max-width: 16.67rem;
  max-height: 16.67rem;
}
.markdown .size-medium {
  font-size: 1rem;
}
.markdown .size-medium img {
  max-width: 21.43rem;
  max-height: 21.43rem;
}
.markdown .size-big {
  font-size: 1.19rem;
}
.markdown .size-big img {
  max-width: 28.57rem;
  max-height: 28.57rem;
}
.markdown .size-giant {
  font-size: 1.571rem;
}
.markdown .size-giant img {
  max-width: 34.29rem;
  max-height: 34.29rem;
}

/* Alignments */
.markdown .align-center {
  text-align: center;
}
.markdown .align-center table, .markdown .align-center img, .markdown .align-center .box, .markdown .align-center blockquote, .markdown .align-center svg {
  margin-left: auto;
  margin-right: auto;
}
.markdown .align-right {
  text-align: right;
}
.markdown .align-right table, .markdown .align-right img, .markdown .align-right .box, .markdown .align-right blockquote, .markdown .align-right svg {
  margin-left: auto;
  margin-right: 0;
}
.markdown .align-left {
  text-align: left;
}
.markdown .align-left table, .markdown .align-left img, .markdown .align-left .box, .markdown .align-left blockquote, .markdown .align-left svg {
  margin-left: 0;
  margin-right: auto;
}

/* Headers */
.markdown h1 {
  font-size: 2.667rem;
  margin-top: 2.857rem;
  margin-bottom: 1.4285rem;
  transition: color 0.3s;
}
.markdown h1:hover {
  color: #ffffff80;
  transition: color 0.3s;
}
.markdown h2 {
  font-size: 2.286rem;
  margin-top: 2.571rem;
  margin-bottom: 1.2855rem;
  transition: color 0.3s;
}
.markdown h2:hover {
  color: #ffffff80;
  transition: color 0.3s;
}
.markdown h3 {
  font-size: 2rem;
  margin-top: 2.143rem;
  margin-bottom: 1.0715rem;
  transition: color 0.3s;
}
.markdown h3:hover {
  color: #ffffff80;
  transition: color 0.3s;
}
.markdown h4 {
  font-size: 1.714rem;
  margin-top: 1.857rem;
  margin-bottom: 0.9285rem;
  transition: color 0.3s;
}
.markdown h4:hover {
  color: #ffffff80;
  transition: color 0.3s;
}
.markdown h5 {
  font-size: 1.286rem;
  margin-top: 1.429rem;
  margin-bottom: 0.7145rem;
  transition: color 0.3s;
}
.markdown h5:hover {
  color: #ffffff80;
  transition: color 0.3s;
}
.markdown h1, .markdown h2 {
  border-bottom: 0.143rem solid #808080;
}

/* Links */
.markdown a:link {
  border-bottom: 0.143rem solid #40c0ff80;
  color: #40c0ff;
  text-decoration: none;
  transition: border 0.3s;
}
.markdown a:visited {
  color: #40c0ff;
  text-decoration: none;
}
.markdown a:hover {
  text-decoration: none;
  border-bottom: 0.143rem solid #40c0ff;
}
.markdown a::selection {
  color: #bf3f00;
}

/* Fenced Code Block */
.markdown pre.line-num-width-0 span.code-fence-index {
  min-width: 1.071rem;
}
.markdown pre.line-num-width-1 span.code-fence-index {
  min-width: 1.571rem;
}
.markdown pre.line-num-width-2 span.code-fence-index {
  min-width: 2.071rem;
}
.markdown pre.line-num-width-3 span.code-fence-index {
  min-width: 2.571rem;
}
.markdown pre.line-num-width-4 span.code-fence-index {
  min-width: 3.071rem;
}
.markdown pre.line-num-width-5 span.code-fence-index {
  min-width: 3.571rem;
}
.markdown pre.line-num-width-6 span.code-fence-index {
  min-width: 4.071rem;
}
.markdown pre {
  padding: 0.571rem;
  background-color: #000000;
  width: 90%;
  overflow: auto;
  line-height: 1;
}
.markdown pre span.code-fence-index {
  display: inline-block;
  border-right: 0.143rem solid #40ffc0;
  text-align: right;
  padding-right: 0.571rem;
  margin-right: 0.571rem;
  padding-top: 0.143rem;
  padding-bottom: 0.143rem;
}
.markdown pre span.code-fence-row {
  display: inline-block;
  width: 100%;
}
.markdown pre span.code-fence-row:hover {
  background-color: #404040;
}
.markdown pre span.code-fence-code {
  display: inline-block;
  padding-top: 0.143rem;
  padding-bottom: 0.143rem;
}
.markdown pre span.highlight.code-fence-row {
  background-color: #ffffff;
  color: #000000;
}
.markdown pre span.highlight.code-fence-row span.code-fence-index {
  border-right: 0.143rem solid #bf003f;
}
.markdown pre span.highlight.code-fence-row:hover {
  background-color: #ffffff80;
}
.markdown pre span.highlight span .color-black {
  color: #ffffff;
}
.markdown pre span.highlight span .color-dark {
  color: #bfbfbf;
}
.markdown pre span.highlight span .color-gray {
  color: #7f7f7f;
}
.markdown pre span.highlight span .color-lightgray {
  color: #3f3f3f;
}
.markdown pre span.highlight span .color-white {
  color: #000000;
}
.markdown pre span.highlight span .color-red {
  color: #3fbfbf;
}
.markdown pre span.highlight span .color-green {
  color: #bf3fbf;
}
.markdown pre span.highlight span .color-blue {
  color: #bfbf3f;
}
.markdown pre span.highlight span .color-aqua {
  color: #bf3f00;
}
.markdown pre span.highlight span .color-emerald {
  color: #bf003f;
}
.markdown pre span.highlight span .color-violet {
  color: #3fbf00;
}
.markdown pre span.highlight span .color-pink {
  color: #00bf3f;
}
.markdown pre span.highlight span .color-grassgreen {
  color: #3f00bf;
}
.markdown pre span.highlight span .color-gold {
  color: #003fbf;
}
.markdown button.copy-fenced-code {
  background-color: #404040;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.286rem;
  border-radius: 0.286rem;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}
.markdown button.copy-fenced-code:hover {
  background-color: #ffffff80;
  transition: background-color 0.5s ease-out;
}

/* Code Spans */
.markdown code.short {
  color: #ffc040;
  background-color: #000000;
  border-radius: 0.143rem;
  padding: 0.143rem 0.286rem 0.143rem;
}

/* Table */
.markdown table {
  border-collapse: collapse;
  margin: 0.571rem;
}
.markdown th {
  background-color: #808080;
  transition: padding 0.5s ease-out;
}
.markdown td, .markdown th {
  padding: 0.857rem;
}
.markdown tr:nth-last-child(odd) {
  background-color: #000000;
}
.markdown tr:nth-last-child(even) {
  background-color: #404040;
}
.markdown thead.collapsible {
  cursor: pointer;
}
.markdown thead.collapsed th {
  padding: 0.286rem;
  transition: padding 0.5s ease-out;
}
.markdown .invisible th, .markdown .invisible td {
  display: none;
}

/*
----- Lists -----
*/
.markdown ul, .markdown ol {
  padding-left: 1.524rem;
}
.markdown ul.no-bullet-list, .markdown ol.no-bullet-list {
  list-style-type: none;
}
.markdown li {
  padding: 0.286rem;
}

/*
----- Checkbox for task lists -----
*/
.markdown div.unchecked-box, .markdown div.checked-box {
  position: relative;
  top: 0.25rem;
  display: inline-block;
  border-radius: 0.19rem;
  width: 1rem;
  height: 1rem;
}
.markdown div.unchecked-box {
  background-color: #808080;
  margin-right: 0.571rem;
}
.markdown div.checked-box {
  background-color: #000000;
  margin-right: 0.571rem;
}
.markdown span.checkmark {
  display: block;
  position: relative;
  left: 0.25rem;
  top: 0.125rem;
  width: 0.3333333333rem;
  height: 0.5rem;
  border-bottom: 0.143rem solid #ffffff;
  border-right: 0.143rem solid #ffffff;
  transform: rotate(45deg);
}
.markdown span.triangle {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  left: 0.1666666667rem;
  top: 0.3333333333rem;
  border-left: 0.3333333333rem solid #0000;
  border-right: 0.3333333333rem solid #0000;
  border-bottom: 0.3333333333rem solid #ffffff;
}
