@import "colors";
@import "units";

@media screen and (orientation: landscape) {
    html {
        font-size: 21px;
    }
}

body .markdown {
    background-color: $dark;
    color: $white;
    font-size: $font-medium;
    line-height: 1.5;
    letter-spacing: 1px;

    ::selection {
        background-color: $dark-compl;
        color: $white-compl;
    }

    hr.footnote-hr {
        margin-top: $h1-margin;
    }

    img {
        max-width: $image-medium;
        max-height: $image-medium;
    }

}

/* Blockquote */
.markdown {

    blockquote {
        background-color: $black-trans;
        width: 75%;
        border-left: $border-big solid $gray;
        padding: $padding-medium;
    }

}

/* Colors */
.markdown {

    
    .color-black {
        color: $black;
    }

    .color-black::selection {
        color: $black-compl;
    }

    .highlight-black {
        background-color: $black;
    }

    .highlight-black::selection {
        background-color: $black-compl;
    }
    
    .color-dark {
        color: $dark;
    }

    .color-dark::selection {
        color: $dark-compl;
    }

    .highlight-dark {
        background-color: $dark;
    }

    .highlight-dark::selection {
        background-color: $dark-compl;
    }
    
    .color-gray {
        color: $gray;
    }

    .color-gray::selection {
        color: $gray-compl;
    }

    .highlight-gray {
        background-color: $gray;
    }

    .highlight-gray::selection {
        background-color: $gray-compl;
    }
    
    .color-lightgray {
        color: $lightgray;
    }

    .color-lightgray::selection {
        color: $lightgray-compl;
    }

    .highlight-lightgray {
        background-color: $lightgray;
    }

    .highlight-lightgray::selection {
        background-color: $lightgray-compl;
    }
    
    .color-white {
        color: $white;
    }

    .color-white::selection {
        color: $white-compl;
    }

    .highlight-white {
        background-color: $white;
    }

    .highlight-white::selection {
        background-color: $white-compl;
    }
    
    .color-red {
        color: $red;
    }

    .color-red::selection {
        color: $red-compl;
    }

    .highlight-red {
        background-color: $red;
    }

    .highlight-red::selection {
        background-color: $red-compl;
    }
    
    .color-green {
        color: $green;
    }

    .color-green::selection {
        color: $green-compl;
    }

    .highlight-green {
        background-color: $green;
    }

    .highlight-green::selection {
        background-color: $green-compl;
    }
    
    .color-blue {
        color: $blue;
    }

    .color-blue::selection {
        color: $blue-compl;
    }

    .highlight-blue {
        background-color: $blue;
    }

    .highlight-blue::selection {
        background-color: $blue-compl;
    }
    
    .color-aqua {
        color: $aqua;
    }

    .color-aqua::selection {
        color: $aqua-compl;
    }

    .highlight-aqua {
        background-color: $aqua;
    }

    .highlight-aqua::selection {
        background-color: $aqua-compl;
    }
    
    .color-emerald {
        color: $emerald;
    }

    .color-emerald::selection {
        color: $emerald-compl;
    }

    .highlight-emerald {
        background-color: $emerald;
    }

    .highlight-emerald::selection {
        background-color: $emerald-compl;
    }
    
    .color-violet {
        color: $violet;
    }

    .color-violet::selection {
        color: $violet-compl;
    }

    .highlight-violet {
        background-color: $violet;
    }

    .highlight-violet::selection {
        background-color: $violet-compl;
    }
    
    .color-pink {
        color: $pink;
    }

    .color-pink::selection {
        color: $pink-compl;
    }

    .highlight-pink {
        background-color: $pink;
    }

    .highlight-pink::selection {
        background-color: $pink-compl;
    }
    
    .color-grassgreen {
        color: $grassgreen;
    }

    .color-grassgreen::selection {
        color: $grassgreen-compl;
    }

    .highlight-grassgreen {
        background-color: $grassgreen;
    }

    .highlight-grassgreen::selection {
        background-color: $grassgreen-compl;
    }
    
    .color-gold {
        color: $gold;
    }

    .color-gold::selection {
        color: $gold-compl;
    }

    .highlight-gold {
        background-color: $gold;
    }

    .highlight-gold::selection {
        background-color: $gold-compl;
    }
    

}

/* Box */
.markdown {

    div.box {
        width: 80%;
        padding: $padding-medium;
        margin: $padding-medium;
        border: $border-medium solid $gray;
    }

    div.box.no-border {
        border: none;
    }

}

/* Sizes */
.markdown {

    
    .size-tiny {
        font-size: $font-tiny;

        img {
            max-width: $image-tiny;
            max-height: $image-tiny;
        }
    }
    
    .size-small {
        font-size: $font-small;

        img {
            max-width: $image-small;
            max-height: $image-small;
        }
    }
    
    .size-medium {
        font-size: $font-medium;

        img {
            max-width: $image-medium;
            max-height: $image-medium;
        }
    }
    
    .size-big {
        font-size: $font-big;

        img {
            max-width: $image-big;
            max-height: $image-big;
        }
    }
    
    .size-giant {
        font-size: $font-giant;

        img {
            max-width: $image-giant;
            max-height: $image-giant;
        }
    }
    

}

/* Alignments */
.markdown {

    .align-center {
        text-align: center;

        table, img, .box, blockquote, svg {
            margin-left: auto;
            margin-right: auto;
        }

    }

    .align-right {
        text-align: right;

        table, img, .box, blockquote, svg {
            margin-left: auto;
            margin-right: 0;
        }

    }

    .align-left {
        text-align: left;

        table, img, .box, blockquote, svg {
            margin-left: 0;
            margin-right: auto;
        }

    }
}

/* Headers */
.markdown {

    
    h1 {
        font-size: $h1-font-size;
        margin-top: $h1-margin;
        margin-bottom: $h1-margin / 2;
        transition: color 0.3s;
    }

    h1:hover {
        color: $white-trans;
        transition: color 0.3s;
    }
    
    h2 {
        font-size: $h2-font-size;
        margin-top: $h2-margin;
        margin-bottom: $h2-margin / 2;
        transition: color 0.3s;
    }

    h2:hover {
        color: $white-trans;
        transition: color 0.3s;
    }
    
    h3 {
        font-size: $h3-font-size;
        margin-top: $h3-margin;
        margin-bottom: $h3-margin / 2;
        transition: color 0.3s;
    }

    h3:hover {
        color: $white-trans;
        transition: color 0.3s;
    }
    
    h4 {
        font-size: $h4-font-size;
        margin-top: $h4-margin;
        margin-bottom: $h4-margin / 2;
        transition: color 0.3s;
    }

    h4:hover {
        color: $white-trans;
        transition: color 0.3s;
    }
    
    h5 {
        font-size: $h5-font-size;
        margin-top: $h5-margin;
        margin-bottom: $h5-margin / 2;
        transition: color 0.3s;
    }

    h5:hover {
        color: $white-trans;
        transition: color 0.3s;
    }
    

    h1, h2 {
        border-bottom: $border-medium solid $gray;
    }

}

/* Links */
.markdown {

    a:link {
        border-bottom: $border-medium solid $aqua-trans;
        color: $aqua;
        text-decoration: none;
        transition: border 0.3s;
    }

    a:visited {
        color: $aqua;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        border-bottom: $border-medium solid $aqua;
    }

    a::selection {
        color: $aqua-compl;
    }

}

/* Fenced Code Block */
.markdown {

    
    pre.line-num-width-0 {
        span.code-fence-index {
            min-width: $padding-medium + $font-medium * (0 + 1) / 2;
        }
    }
    
    pre.line-num-width-1 {
        span.code-fence-index {
            min-width: $padding-medium + $font-medium * (1 + 1) / 2;
        }
    }
    
    pre.line-num-width-2 {
        span.code-fence-index {
            min-width: $padding-medium + $font-medium * (2 + 1) / 2;
        }
    }
    
    pre.line-num-width-3 {
        span.code-fence-index {
            min-width: $padding-medium + $font-medium * (3 + 1) / 2;
        }
    }
    
    pre.line-num-width-4 {
        span.code-fence-index {
            min-width: $padding-medium + $font-medium * (4 + 1) / 2;
        }
    }
    
    pre.line-num-width-5 {
        span.code-fence-index {
            min-width: $padding-medium + $font-medium * (5 + 1) / 2;
        }
    }
    
    pre.line-num-width-6 {
        span.code-fence-index {
            min-width: $padding-medium + $font-medium * (6 + 1) / 2;
        }
    }
    

    pre {
        padding: $padding-medium;
        background-color: $black;
        width: 90%;
        overflow: auto;
        line-height: 1.0;

        span.code-fence-index {
            display: inline-block;
            border-right: $border-medium solid $emerald;
            text-align: right;
            padding-right: $padding-medium;
            margin-right: $padding-medium;
            padding-top: $padding-tiny;
            padding-bottom: $padding-tiny;
        }

        span.code-fence-row {
            display: inline-block;
            width: 100%;
        }

        span.code-fence-row:hover {
            background-color: $dark;
        }

        span.code-fence-code {
            display: inline-block;
            padding-top: $padding-tiny;
            padding-bottom: $padding-tiny;
        }

        span.highlight.code-fence-row {
            background-color: $black-compl;
            color: $white-compl;

            span.code-fence-index {
                border-right: $border-medium solid $emerald-compl;
            }

        }

        span.highlight.code-fence-row:hover {
            background-color: $black-compl-trans;
        }

        
        span.highlight span .color-black {
            color: $black-compl;
        }
        
        span.highlight span .color-dark {
            color: $dark-compl;
        }
        
        span.highlight span .color-gray {
            color: $gray-compl;
        }
        
        span.highlight span .color-lightgray {
            color: $lightgray-compl;
        }
        
        span.highlight span .color-white {
            color: $white-compl;
        }
        
        span.highlight span .color-red {
            color: $red-compl;
        }
        
        span.highlight span .color-green {
            color: $green-compl;
        }
        
        span.highlight span .color-blue {
            color: $blue-compl;
        }
        
        span.highlight span .color-aqua {
            color: $aqua-compl;
        }
        
        span.highlight span .color-emerald {
            color: $emerald-compl;
        }
        
        span.highlight span .color-violet {
            color: $violet-compl;
        }
        
        span.highlight span .color-pink {
            color: $pink-compl;
        }
        
        span.highlight span .color-grassgreen {
            color: $grassgreen-compl;
        }
        
        span.highlight span .color-gold {
            color: $gold-compl;
        }
        

    }

    button.copy-fenced-code {
        background-color: $dark;
        border: none;
        color: $white;
        font-size: $font-medium;
        padding: $padding-small;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.5s ease-out;
    }

    button.copy-fenced-code:hover {
        background-color: $white-trans;
        transition: background-color 0.5s ease-out;
    }

}

/* Code Spans */
.markdown {

    code.short {
        color: $gold;
        background-color: $black;
        border-radius: 3px;
        padding: $padding-tiny $padding-small $padding-tiny;
    }

}

/* Table */
.markdown {

    table {
        border-collapse: collapse;
        margin: 12px;
    }

    th {
        background-color: $gray;
        transition: padding 0.5s ease-out;
    }

    td, th {
        padding: $padding-medium + $padding-small;
    }

    tr:nth-last-child(odd) {
        background-color: $black;
    }

    tr:nth-last-child(even) {
        background-color: $dark;
    }

    thead.collapsible {
        cursor: pointer;
    }

    thead.collapsed th {
        padding: $padding-small;
        transition: padding 0.5s ease-out;
    }

    .invisible {

        th, td {
            display: none;
        }

    }

}

/*
----- Lists -----
*/

.markdown {

    ul, ol {
        padding-left: $padding-giant;
    }

    li {
        padding: $padding-small;
    }

}

/*
----- Checkbox for task lists -----
*/

.markdown {
    div.unchecked-box, div.checked-box {
        position: relative;
        top: $font-medium / 4;
        display: inline-block;
        border-radius: 4px;
        width: $font-medium;
        height: $font-medium;
    }

    div.unchecked-box {
        background-color: $gray;
        margin-right: $padding-medium;
    }

    div.checked-box {
        background-color: $black;
        margin-right: $padding-medium;
    }

    span.checkmark {
        display: block;
        position: relative;
        left: $font-medium / 4;
        top: $font-medium / 8;
        width: $font-medium / 3;
        height: $font-medium / 2;
        border: {
            bottom: $border-medium solid $white;
            right: $border-medium solid $white;
        }
        transform: rotate(45deg);
    }

    span.triangle {
        display: block;
        position: relative;
        width: 0;
        height: 0;
        left: $font-medium / 6;
        top: $font-medium / 3;
        border-left: $font-medium / 3 solid #0000;
        border-right: $font-medium / 3 solid #0000;
        border-bottom: $font-medium / 3 solid $white;
    }
}