$font-tiny: 0.619rem;  // 13px;
$font-small: 0.762rem;  // 16px;
$font-medium: 1rem;  // 21px;
$font-big: 1.19rem;  // 25px;
$font-giant: 1.571rem;  // 33px;

$border-medium: 0.143rem;  // 3px;
$border-big: 0.238rem;  // 5px;
$border-giant: 0.429rem;  // 9px;

$round-border-tiny: 0.143rem;  // 3px;
$round-border-small: 0.19rem; //  4px;
$round-border-medium: 0.286rem;  // 6px;

$padding-tiny: 0.143rem;  // 3px;
$padding-small: 0.286rem;  // 6px;
$padding-medium: 0.571rem;  // 12px;
$padding-big: 0.857rem;  // 18px;
$padding-giant: 1.524rem;  // 32px;

$image-tiny: 11.9rem;  // 250px;
$image-small: 16.67rem;  // 350px;
$image-medium: 21.43rem;  // 450px;
$image-big: 28.57rem;  // 600px;
$image-giant: 34.29rem;  // 720px;

$h1-font-size: 2.667rem;  // 56px;
$h2-font-size: 2.286rem;  // 48px;
$h3-font-size: 2rem;  // 42px;
$h4-font-size: 1.714rem;  // 36px;
$h5-font-size: 1.286rem;  // 27px;

$h1-margin: 2.857rem;  // 60px;
$h2-margin: 2.571rem;  // 54px;
$h3-margin: 2.143rem;  // 45px;
$h4-margin: 1.857rem;  // 39px;
$h5-margin: 1.429rem;  // 30px;

$header-height: $font-big + $padding-big * 2 + $border-big;