$font-tiny: 13px;
$font-small: 16px;
$font-medium: 21px;
$font-big: 25px;
$font-giant: 33px;

$border-medium: 3px;
$border-big: 5px;
$border-giant: 9px;

$padding-tiny: 3px;
$padding-small: 6px;
$padding-medium: 12px;
$padding-big: 18px;
$padding-giant: 32px;

$image-tiny: 250px;
$image-small: 350px;
$image-medium: 450px;
$image-big: 600px;
$image-giant: 720px;

$h1-font-size: 56px;
$h2-font-size: 48px;
$h3-font-size: 42px;
$h4-font-size: 36px;
$h5-font-size: 27px;

$h1-margin: 60px;
$h2-margin: 54px;
$h3-margin: 45px;
$h4-margin: 39px;
$h5-margin: 30px;

$header-height: $font-big + $padding-big * 2 + $border-big;