$font_tiny: 13px;
$font_small: 16px;
$font_medium: 21px;
$font_big: 25px;
$font_giant: 33px;

$border_medium: 3px;
$border_big: 5px;
$border_giant: 9px;

$padding_tiny: 3px;
$padding_small: 6px;
$padding_medium: 12px;
$padding_big: 18px;
$padding_giant: 32px;

$h1_font_size: 66px;
$h2_font_size: 54px;
$h3_font_size: 45px;
$h4_font_size: 33px;
$h5_font_size: 27px;

$h1_margin: 60px;
$h2_margin: 54px;
$h3_margin: 45px;
$h4_margin: 39px;
$h5_margin: 30px;

$header_height: $font_big + $padding_medium * 2 + $border_big;